/**
 * File: patterns/links.scss
 * Description: Sets the link styles for most of the document
 * Dependencies: None
 *
 * @package style_guide
 */

a.primary {
    width: auto;
    color: $red;
    text-decoration: none;
    transition: color .3s ease;
    -moz-transition: color .3s ease;
    -webkit-transition: color .3s ease;

    &:hover {
        color: $medium-dark-grey;
    }
}

a.secondary {
    width: auto;
    color: $medium-dark-grey;
    text-decoration: none;
    transition: color .3s ease;
    -moz-transition: color .3s ease;
    -webkit-transition: color .3s ease;

    &:hover{
        color: $red;
    }
}
