/**
 * File: modules/colors.scss
 * Description: The file that will contain all color variables
 * Dependencies: None
 *
 * @package style_guide
 */

$red: #ec0928;
$dark-grey: #333;
$medium-dark-grey: #424242;
$medium-grey: #9e9e9e;
$medium-light-grey: #c0c0c0;
$light-grey: #ddd;
$off-white: #f4f4f4;
$white: #fff;
$black: #000;
