/**
 * File: modules/vars.scss
 * Description: Holder of various variables for the experience
 * Dependencies: None
 *
 * @package style_guide
 */

/* === Profound Grid Variables === */
$container_margin: 0%;
$gutter_width: 2%;
$total_width: 100%;

$class_container: 'row';
$class_column: 'col';
$class_push: 'push';
$class_row: 'row';
