/**
 * File: sections/colors.scss
 * Description: Styles for the colors section
 * Dependencies: None
 *
 * @package style_guide
 */

#colors {
    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    li {
        width: auto;
        padding: 0.5rem;
        font-size: 0.7rem;
        margin: 0.5rem;
        float: none;
        display: inline-block;
    
        &.off-white {
            background: $off-white;
        }
        &.light-grey {
            background: $light-grey;
        }
        &.medium-light-grey {
            background: $medium-light-grey;
        }
        &.medium-grey {
            background: $medium-grey;
            color: $off-white;
        }
        &.medium-dark-grey {
            background: $medium-dark-grey;
            color: $off-white;
        }
        &.dark-grey {
            background: $dark-grey;
            color: $off-white;
        }
        &.red {
            background: $red;
            color: $off-white;
        }
    }
}
