/**
 * File: sections/colors.scss
 * Description: Styles for the colors section
 * Dependencies: None
 *
 * @package style_guide
 */

#colors {
    ul {
        padding: 0;
        list-style-type: none;
        text-align: center;
    }
    li {
        width: auto;
        padding: 0.5rem;
        font-size: 0.7rem;
        margin: 0.5rem;
        float: none;
        display: inline-block;
    
        &:nth-child(2){
            background: $off-white;
        }
        &:nth-child(3) {
            background: $light-grey;
        }
        &:nth-child(4) {
            background: $medium-light-grey;
        }
        &:nth-child(5) {
            background: $medium-grey;
            color: $off-white;
        }
        &:nth-child(6) {
            background: $medium-dark-grey;
            color: $off-white;
        }
        &:nth-child(7) {
            background: $dark-grey;
            color: $off-white;
        }
        &:nth-child(8) {
            background: $red;
            color: $off-white;
        }
    }
}
