/**
 * File: sections/intro.scss
 * Description: Contains the styles for the intro section
 * Dependencies: None
 *
 * @package style_guide
 */

#intro {
    margin-bottom: 1rem;
    text-align: center;
    background: #f4f4f4;

    h1 {
        color: #ec0928;
    }
}
