/**
 * File: sections/intro.scss
 * Description: Contains the styles for the intro section
 * Dependencies: None
 *
 * @package style_guide
 */

#intro {
    margin-bottom: 1rem;
    text-align: center;
    background: $off-white;

    h1 {
        color: $red;
    }
}
